<div class="d-flex align-items-center justify-content-center" style="height: 650px">
  <div id="carouselwithIndicators" class="carousel slide w-100" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>

    <div class=" carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100"
          src="https://images.unsplash.com/photo-1495546968767-f0573cca821e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80"
          alt="First slide">
        <div class="carousel-caption">
          <h3>Witaj na internetowej książce kucharskiej!</h3>
          <p>Jeśli szukasz pysznego przepisu lub pomysłu na posiłek to świetnie trafiłeś!.
            <br>
            Znajdź przepisy wybierając je po kategoriach lub korzystając z wbudowanej wyszukiwarki.
            <br><a [routerLink]="'/zarejestruj'"> Załóż konto teraz!</a></p>
        </div>
      </div>

      <div class="carousel-item" style="height: 650px">
        <img class="d-block w-100 "
          src="https://images.unsplash.com/photo-1589652717406-1c69efaf1ff8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          alt="Second slide">
        <div class="carousel-caption">
          <p>Po założeniu konta będziesz mógł dzielić się swoją opinią na temat przepisów w sekcji komentarzy,
            <br>
            oceniać przepisy, dodawać przepisy</p>
        </div>
      </div>


      <a class="carousel-control-prev" href="#carouselwithIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carouselwithIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
