    <div class="d-flex align-items-center justify-content-center" style="height: 650px">
      <main role="main" class="inner cover">
        <h1 class="cover-heading text-center">Witaj na PrzepisyApp</h1>
        <p class="lead">
          Cześć! Witam Cię w internetowej książce kucharskiej. Jeśli szukasz przsynego przepisu na obiad albo pomysłu na śniadanie to świetnie trafiłeś.
          Oprócz bazy z przeróżnymi przepisami, będziesz mógł założyć swoje konto dzięki któremu możesz
        </p>
      </main>
    </div>
